body{
	font-family: 'Roboto Condensed', sans-serif;
}
.header{
	margin-left: 0px;
	margin-right: 0px;
	width:100%;
	background-color: #f2f2f2;
	text-align: center;
	border-bottom-style: solid;
    border-width: medium;
    border-bottom-color: #cccccc;
}
.name{
	float:left;
	left:0;
	z-index: -1;
	margin-left: -22px;
}
.logo{
	margin-top: 6px;
	float:right;
}
.logo-column{
	right:50px;
}
.name-column{
	right:50px;
}
#content{
	padding-top:75px;
}
.information{
	position: absoulte;
	left:50%;
	margin-left: -50px;
	
}
td{
	padding:10px;
	font-size: 30px;
}
.text_center{
	text-align: center;
}
.information p{
	font-size: 30px;
	width:300px;
}
* {
  margin: 0px;
}