@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body{
	font-family: 'Roboto Condensed', sans-serif;
}
.header{
	margin-left: 0px;
	margin-right: 0px;
	width:100%;
	background-color: #f2f2f2;
	text-align: center;
	border-bottom-style: solid;
    border-width: medium;
    border-bottom-color: #cccccc;
}
.name{
	float:left;
	left:0;
	z-index: -1;
	margin-left: -22px;

}
.logo{
	margin-top: 6px;
    float: right;

}
.logo-column{
	right:50px;
}
.name-column{
	right:50px;
}
.name-form{
	margin-top:5px;
	width:80%;
	left:10%;
}
.date{

}
.date-field{
	margin-top:5px;
	width:80%;
	left:10%;
}
.submit{
	margin-top:25px;
	background-color: #FAF26F;
}

#register{
	background-color: #f2f2f2;
	text-align: center;
	margin-left:0px;
	width:50%;
	height:100%;
	padding-top:100px;
	border-right-style: solid;
    border-width: 1px;
    border-right-color: #cccccc;

}
.password-entry{
	vertical-align: middle;
	width:80% !important;
	left:10%;
	margin-top:5px;

}

.password-form{
	margin-top:10px;
}
.name-form-entry{
	float:left;
}
.email-form-entry{
	margin-top:10px;
}
.gender-selection{
	margin-top:10px;
}
.gender{
	    margin-top: 20px;
}
.login-password{
	width:40%;
	left:30%;
}
.login-email{
	width:40%;
	left:30%;
	margin-bottom:15px;
}
#login{
	background-color: #f2f2f2;
	width: 50%;
	margin-right:0px;
	text-align:center;
	height:100%;
	padding-top:100px;
	border-left-style: solid;
    border-width: 1px;
    border-left-color: #cccccc;
}
.login-button{
	max-width: 13%;
    left: 20px;
    margin-top: 50px;
    background-color: #FAF26F;
}
#register-login{
	margin-left:0px;
	margin-right:0px;
	width:100%;
	height:90%;
	background-color: #f2f2f2;
}
.movie-container{
	background-color: #f2f2f2;
	width:100%;
	white-space: nowrap;
}
.movie-listing{
	height:42%;
	background-color: #747474;
	margin-right: -15px;
	margin-left: -15px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
.movie-holder{
	margin-top:17px;
	display: inline-block;
	width:180px;


}
.movie{
    margin: 0 auto;
    text-align: center;
    float:left;

	margin-left: 13%;
}
.glyphicon-check{
	position:absolute;
	z-index: 0;
    font-size: 25px;
    right:30px;
}
.glyphicon-search{
	font-size:14px !important;
}
.check-button{
	right:30px;
}

#search-container{
	margin-top:22px;
	width:80%;
	margin-left:130px;
}
.stylish-input-group .input-group-addon{
    background: #f2f2f2 !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
	background-color: #f2f2f2;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.rated{
	z-index: 0;
	position:absolute;
	margin-top:19px;
	background-color: #f2f2f2;
	right:210px;
	max-width:37px;

}
.glyphicon{
	vertical-align: middle;
	font-size: 20px;
}
.status{
	z-index: 0;
	left:265px;
	margin-top:25px;
	background-color: #f2f2f2;
	position:absolute
}


.done{
	z-index: 0;
	right:280px;
	margin-top:19px;
	background-color: #f2f2f2;
	position:absolute
}
.profile{
	z-index: 0;
	right:355px;
	margin-top:19px;
	background-color: #f2f2f2;
	position:absolute
}
.logout{
	z-index: 0;
	left:60px;
	margin-top:12px;
	background-color: #f2f2f2;
	position:absolute
}
.logout-profile{
	z-index: 0;
	left:140px;
	margin-top:12px;
	background-color: #f2f2f2;
	position:absolute
}
.go-back{
	z-index: 0;
	left:50px;
	vertical-align: middle;
	background-color: #f2f2f2;
	position:absolute;
	margin-top: 12px;


}
.md-36{
	font-size:36px !important;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 45%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  white-space: normal;

  overflow: auto;
}
.movie-info{
	padding-left:10px;
	margin-left:180px;
    overflow-x:wrap;
    overflow-x: none;
}
.movie-title{
	max-width:148px;
	height:50px;
	white-space: normal;
	margin-top:5px;
}

#content{
	margin-left:0px;


}
.information{
	padding-top:80px;
	padding-left:0px;
	vertical-align: middle;
	border-right-style: solid;
    border-width: 1px;
    border-right-color: #cccccc;
    height:90%;
	
}
td{
	padding:10px;
	font-size: 30px;
}
.text_center{
	text-align: center;
}
.information p{
	width:300px;
}

.directors .actors .studio .movie-description{
	font-size:10px;
}

/* Star ratings for movies!!! */


.rating {
  border: none;
  float: left;
  padding-left: 35px;
  width:100%;
  padding-right:55px;

}
.trailer{
	right:55px;
	width:100%;

}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 3em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/* show gold star when clicked */

.rating > input:checked ~ label,


/* hover current star */

.rating:not(:checked) > label:hover,


.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}


/* hover previous stars in list */

.rating > input:checked + label:hover,

/* hover current star when changing rating */

.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,

/* lighten current selection */

.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}



a{
    color: #000000;
}

* {
  margin: 0px;
}

