body{
	font-family: 'Roboto Condensed', sans-serif;
}
.header{
	margin-left: 0px;
	margin-right: 0px;
	width:100%;
	background-color: #f2f2f2;
	text-align: center;
	border-bottom-style: solid;
    border-width: medium;
    border-bottom-color: #cccccc;
}
.name{
	float:left;
	left:0;
	z-index: -1;
	margin-left: -22px;

}
.logo{
	margin-top: 6px;
    float: right;

}
.logo-column{
	right:50px;
}
.name-column{
	right:50px;
}
.name-form{
	margin-top:5px;
	width:80%;
	left:10%;
}
.date{

}
.date-field{
	margin-top:5px;
	width:80%;
	left:10%;
}
.submit{
	margin-top:25px;
	background-color: #FAF26F;
}

#register{
	background-color: #f2f2f2;
	text-align: center;
	margin-left:0px;
	width:50%;
	height:100%;
	padding-top:100px;
	border-right-style: solid;
    border-width: 1px;
    border-right-color: #cccccc;

}
.password-entry{
	vertical-align: middle;
	width:80% !important;
	left:10%;
	margin-top:5px;

}

.password-form{
	margin-top:10px;
}
.name-form-entry{
	float:left;
}
.email-form-entry{
	margin-top:10px;
}
.gender-selection{
	margin-top:10px;
}
.gender{
	    margin-top: 20px;
}
.login-password{
	width:40%;
	left:30%;
}
.login-email{
	width:40%;
	left:30%;
	margin-bottom:15px;
}
#login{
	background-color: #f2f2f2;
	width: 50%;
	margin-right:0px;
	text-align:center;
	height:100%;
	padding-top:100px;
	border-left-style: solid;
    border-width: 1px;
    border-left-color: #cccccc;
}
.login-button{
	max-width: 13%;
    left: 20px;
    margin-top: 50px;
    background-color: #FAF26F;
}
#register-login{
	margin-left:0px;
	margin-right:0px;
	width:100%;
	height:90%;
	background-color: #f2f2f2;
}
.movie-container{
	background-color: #f2f2f2;
	width:100%;
	white-space: nowrap;
}
.movie-listing{
	height:40%;
	background-color: #747474;
	margin-right: -15px;
	margin-left: -15px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
.movie-holder{
	padding-top:10px;
	padding-left:10px;
	display: inline-block;
	width:180px;
	margin-top:10px;

}
.movie{
    margin: 0 auto;
    text-align: center;
    float:left;

	margin-left: 13%;
}
.glyphicon-check{
	position:absolute;
	z-index: 0;
    font-size: 25px;
    right:30px;
}
.check-button{
	right:30px;
}

#search-container{
	margin-top:22px;
	width:80%;
	margin-left:130px;
}
.stylish-input-group .input-group-addon{
    background: #f2f2f2 !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
	background-color: #f2f2f2;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.rated{
	z-index: 0;
	position:absolute;
	margin-top:21px;
	background-color: #f2f2f2;

}
.glyphicon-star{
	vertical-align: middle;
	font-size: 20px;

}
.glyphicon-ok{
	vertical-align: middle;
	font-size: 20px;

}
.glyphicon-user{
	vertical-align: middle;
	font-size: 20px;
}


.done{
	z-index: 0;
	right:265px;
	margin-top:21px;
	background-color: #f2f2f2;
	position:absolute
}
.profile{
	z-index: 0;
	right:335px;
	margin-top:21px;
	background-color: #f2f2f2;
	position:absolute
}



.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 45%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  white-space: normal;

  overflow: auto;
}
.movie-info{
	padding-left:10px;
	margin-left:180px;
    overflow-x:wrap;
    overflow-x: none;
}
.movie-title{
	max-width:142px;
	height:50px;
	white-space: normal;
}

a{
    color: #000000;
}

* {
  margin: 0px;
}

