<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MovieRater</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/stylesheet.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>


  </head>
  <body>
  <div id="header" class="container header">
  	<div class="row-fluid">
  		<img class="logo" src="../img/star.png" height="55" with="55"></img>
	    <h1 class="name">MovieRater</h1>
    </div>
  </div>
  <div id="register-login" class="container">
  	<div class="row-fluid">
	  	<div id="register" class="col-md-6">
	  	New?
	  	</div>
	  	<div id="login" class="col-md-6">
		Veteran?
	  	</div>
  	</div>
  </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  </body>
</html>